# Copyright (c) 2024 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_TERMINUS_EST_LEFT

config ZMK_KEYBOARD_NAME
	default "Terminus Est"

config ZMK_SPLIT_ROLE_CENTRAL
	default y

endif

if SHIELD_TERMINUS_EST_LEFT || SHIELD_TERMINUS_EST_RIGHT

config ZMK_SPLIT
	default y

endif