# Copyright (c) 2024 The ZMK Contributors
# SPDX-License-Identifier: MIT

config SHIELD_TERMINUS_EST_LEFT
	def_bool $(shields_list_contains,terminus_est_left)

config SHIELD_TERMINUS_EST_RIGHT
	def_bool $(shields_list_contains,terminus_est_right)