/*
 * Copyright (c) 2024 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <physical_layouts.dtsi>

/ {
	physical_layout0: physical_layout_0 {
		compatible = "zmk,physical-layout";
		display-name = "Default";

		kscan = <&kscan0>;
		transform = <&default_transform>;

		keys  //                     w   h    x    y     rot    rx    ry
			= <&key_physical_attrs 100 100   50    0       0     0     0>
			, <&key_physical_attrs 100 100  150    0       0     0     0>
			, <&key_physical_attrs 100 100  250    0       0     0     0>
			, <&key_physical_attrs 100 100  350    0       0     0     0>
			, <&key_physical_attrs 100 100  450    0       0     0     0>
			, <&key_physical_attrs 100 100  550    0       0     0     0>
			, <&key_physical_attrs 100 100  650    0       0     0     0>
			, <&key_physical_attrs 100 100 1400    0       0     0     0>
			, <&key_physical_attrs 100 100 1500    0       0     0     0>
			, <&key_physical_attrs 100 100 1600    0       0     0     0>
			, <&key_physical_attrs 100 100 1700    0       0     0     0>
			, <&key_physical_attrs 100 100 1800    0       0     0     0>
			, <&key_physical_attrs 100 100 1900    0       0     0     0>
			, <&key_physical_attrs 100 100 2000    0       0     0     0>
			, <&key_physical_attrs 100 100    0  100       0     0     0>
			, <&key_physical_attrs 100 100  100  100       0     0     0>
			, <&key_physical_attrs 100 100  200  100       0     0     0>
			, <&key_physical_attrs 100 100  300  100       0     0     0>
			, <&key_physical_attrs 100 100  400  100       0     0     0>
			, <&key_physical_attrs 100 100  500  100       0     0     0>
			, <&key_physical_attrs 100 100  600  100       0     0     0>
			, <&key_physical_attrs 100 100  850  100       0     0     0>
			, <&key_physical_attrs 100 100 1175  100       0     0     0>
			, <&key_physical_attrs 100 100 1375  100       0     0     0>
			, <&key_physical_attrs 100 100 1475  100       0     0     0>
			, <&key_physical_attrs 100 100 1575  100       0     0     0>
			, <&key_physical_attrs 100 100 1675  100       0     0     0>
			, <&key_physical_attrs 100 100 1775  100       0     0     0>
			, <&key_physical_attrs 100 100 1875  100       0     0     0>
			, <&key_physical_attrs 100 100 1975  100       0     0     0>
			, <&key_physical_attrs 100 100 2075  100       0     0     0>
			, <&key_physical_attrs 100 100   25  200       0     0     0>
			, <&key_physical_attrs 100 100  125  200       0     0     0>
			, <&key_physical_attrs 100 100  225  200       0     0     0>
			, <&key_physical_attrs 100 100  325  200       0     0     0>
			, <&key_physical_attrs 100 100  425  200       0     0     0>
			, <&key_physical_attrs 100 100  525  200       0     0     0>
			, <&key_physical_attrs 100 100  625  200       0     0     0>
			, <&key_physical_attrs 100 100  850  200       0     0     0>
			, <&key_physical_attrs 100 100 1175  200       0     0     0>
			, <&key_physical_attrs 100 100 1400  200       0     0     0>
			, <&key_physical_attrs 100 100 1500  200       0     0     0>
			, <&key_physical_attrs 100 100 1600  200       0     0     0>
			, <&key_physical_attrs 100 100 1700  200       0     0     0>
			, <&key_physical_attrs 100 100 1800  200       0     0     0>
			, <&key_physical_attrs 100 100 1900  200       0     0     0>
			, <&key_physical_attrs 100 100 2000  200       0     0     0>
			, <&key_physical_attrs 100 100   75  300       0     0     0>
			, <&key_physical_attrs 100 100  175  300       0     0     0>
			, <&key_physical_attrs 100 100  275  300       0     0     0>
			, <&key_physical_attrs 100 100  375  300       0     0     0>
			, <&key_physical_attrs 100 100  475  300       0     0     0>
			, <&key_physical_attrs 100 100  575  300       0     0     0>
			, <&key_physical_attrs 100 100  675  300       0     0     0>
			, <&key_physical_attrs 100 100  850  300       0     0     0>
			, <&key_physical_attrs 100 100 1175  300       0     0     0>
			, <&key_physical_attrs 100 100 1350  300       0     0     0>
			, <&key_physical_attrs 100 100 1450  300       0     0     0>
			, <&key_physical_attrs 100 100 1550  300       0     0     0>
			, <&key_physical_attrs 100 100 1650  300       0     0     0>
			, <&key_physical_attrs 100 100 1750  300       0     0     0>
			, <&key_physical_attrs 100 100 1850  300       0     0     0>
			, <&key_physical_attrs 100 100 1950  300       0     0     0>
			, <&key_physical_attrs 100 100  100  400       0     0     0>
			, <&key_physical_attrs 100 100  200  400       0     0     0>
			, <&key_physical_attrs 100 100  525  400       0     0     0>
			, <&key_physical_attrs 100 100  625  400       0     0     0>
			, <&key_physical_attrs 100 100  725  400       0     0     0>
			, <&key_physical_attrs 100 100 1300  400       0     0     0>
			, <&key_physical_attrs 100 100 1400  400       0     0     0>
			, <&key_physical_attrs 100 100 1500  400       0     0     0>
			, <&key_physical_attrs 100 100 1825  400       0     0     0>
			, <&key_physical_attrs 100 100 1925  400       0     0     0>
			, <&key_physical_attrs 100 100  550  500       0     0     0>
			, <&key_physical_attrs 100 100  650  500       0     0     0>
			, <&key_physical_attrs 100 100  750  500       0     0     0>
			, <&key_physical_attrs 100 100 1012  500       0     0     0>
			, <&key_physical_attrs 100 100 1275  500       0     0     0>
			, <&key_physical_attrs 100 100 1375  500       0     0     0>
			, <&key_physical_attrs 100 100 1475  500       0     0     0>
			;
	};
};